{% extends "main.html" %}
{% load bootstrap4 %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans 'Logout' %}{% endblock head_title %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-lg-9 mx-auto">
				<h1>Logged Out</h1>
				<hr>
				<br>
				<p>Thanks for spending some quality time with the web site today.</p>
				<a class='btn btn-success mt-3 mb-3' href="/accounts/login/">Login Again</a>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}