{% extends "main.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}

{% block head_title %}{% trans 'Password Reset' %}{% endblock head_title %}


{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-lg-9 mx-auto">
				<h1>Password Reset</h1>
				<hr>
				<br>
				<form class="form-group" method='POST'>
					{% csrf_token %}

					<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
					{% bootstrap_form form %}
					<input type="submit" value="Reset My Password" class='btn btn-success mt-3 mb-3'><br>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock content %}