{% extends "main.html" %}
{% load bootstrap4 %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans 'Password Change' %}{% endblock head_title %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-lg-9 mx-auto">
				<h1>Password Change</h1>
				<hr>
				<br>
				<form class="form-group" method='POST'>
					{% csrf_token %}

					<p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
					{% bootstrap_form form %}
					<input type="submit" value="Change My Password" class='btn btn-success mt-3 mb-3'><br>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock content %}