{% extends 'main.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block head_title %}{% trans 'Register' %}{% endblock head_title %}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-9 mx-auto">
			<h1>Sign Up</h1>
			<hr>
			<br>
			<form class="form-group" method='POST'>
				{% csrf_token %}
				{% if messages %}
					{% for msg in messages %}
						<div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
							{{msg}}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					{% endfor %}
				{% endif %}
				{% bootstrap_form form %}
				<button class="btn btn-success mt-4" type='submit'>Register</button>
				<p class="mt-3 mb-5">Already have an account? <a style="text-decoration:none; color:black" href="/accounts/login/">Login</a></p>
			</form>
		</div>
	</div>
</div>

{% endblock content %}