{% if request.user.is_authenticated %}

<style>
    .c_photo{
        margin-top: 3px;
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-body-tertiar">
    <div class="container-fluid">
        <a class="navbar-brand">CRM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_staff %}
                <li class="nav-item">
                    <a href="/" class="nav-link {% if request.path == '/' %} active {% endif %}" aria-current='page'>Home</a>
                </li>
                <li class="nav-item">
                    <a href="/product/" class="nav-link{% if request.path == '/product/' %} active {% endif %}" aria-current='page'>Product</a>
                </li>
                {% else %}
                <li class='nav-item'>
                    <a class="nav-link {% if request.path == '/accounts/profile/edit_profile/' %} active {% endif %}" href="/accounts/profile/edit_profile/" aria-current='page'>Profile</a>
                </li>
                {% endif %}
            </ul>
            {% if request.user.is_staff %}
            <form action="/product/" method='POST' class="form-group d-flex">
                <input type="search" name="search" id="" role='search' class="form-control me-2" placeholder='Search'>
                <button type="submit" class='btn btn-outline-success'>Search</button>
            </form>
            <div class="navbar-nav mb-lg-0 ms-3">
                <a href="/accounts/logout/" class="nav-link {% if request.path == '/accounts/logout/' %} active {% endif %}" aria-current='page'>Logout</a>
                <a href="/accounts/register/" class="nav-link {% if request.path == '/accounts/register/' %} active {% endif %}" aria-current='page'>Signup</a>
            </div>
            {% else %}
            <ul class="navbar-nav mb-lg-0">
                <li class='nav-item'>
                    <a class="nav-link {% if request.path == '/accounts/logout/' %} active {% endif %}" href="/accounts/logout/" aria-current='page'>Logout</a>
                </li>
                <li class='nav-item'>
                    <a href="/accounts/register/" class="nav-link {% if request.path == '/accounts/register/' %} active {% endif %}" aria-current='page'>Signup</a>
                </li>
                <li class='nav-item ms-2'>
                    <img src="{{ request.user.customer.img.url }}"  aria-current='page' class='c_photo' alt="">
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% endif %}